<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

    <head>
        <meta charset="UTF-8">
        <title>Responsive Dropdown nav-bar Bar</title>
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/stylesheet.css"> 
    </head>

    <body>
        <!--Start of Navbar-->
        <section class="nav-bar">
            <div class="nav-container">
                <div class="brand">
                    <a href="index.html"><img src="/assets/images/Logo_Fashop.png" alt="logo"></a>
                </div>
                <nav>
                    <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                    <ul class="nav-list">
                        <li>
                            <a href="#">Services</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="#">Souring</a>
                                </li>
                                <li>
                                    <a href="#">Manufacture</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="Hunt TM.html">Pricing</a>
                        </li>
                        <li>
                            <a href="Mastermind TM.html">Fashop.io Mastermind TM</a>
                        </li>
                        <li>
                            <a href="Hunt TM.html">Fashop.io Hunt TM</a>
                        </li>

                        <li>
                            <a href="#">Explore</a>
                            <ul class="nav-dropdown">
                                <li>
                                    <a href="#">Our Story</a>
                                </li>
                                <li>
                                    <a href="#">Our Services</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a class="navbarlogin" href="Login/login.html">Get Started</a>
                        </li>

                </nav>

            </div>
        </section>
        <!--Note to fix.-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script  src="function.js"></script>

        <!--    End of Navbar-->


        <!--   Page 1-->

        <div class="col-3">
            <a href="index.html"> <img src="img/Faimages/picture4.jpeg" 
                                       class="picture_position  col-s-12" alt="Shirt"></a>
        </div>


        <div class="Text_position" style="padding-left:5px">

            <div class ="c">
                <h1 class="a" >Fancy T-Shirt</h1>
                <h1 class="a" >Great Style</h1>
                <h1 class="a" > One of a kind</h1>

                <h2 class="b">Variety of black T-Shirts</h2>
                <h2 class="b">Even more shoes to pick from</h2>
            </div>


        </div>
        <a class="login_background1" href="Login/login.html">Get Started</a>
        <div class="playbutton">
            <a href="Billowing.mp4" ><img src="img/arrow.jpeg" class="playbutton"alt="Video Button"></a>
        </div>





        <!-- Start of Second Page -->
        <p class="d" >Fashion made simple.</p>

        <div class="loop">
            <a href="index.html"> <img src="img/1022.svg" class="loop1" alt="Loop1_Placeholder"></a>
            <a href="index.html"> <img src="img/1023.svg" class="loop2" alt="Loop2_Placeholder"></a>
            <a href="index.html"> <img src="img/1024.svg" class="loop3" alt="Loop3_Placeholder"></a>
        </div>

        <div class="loop-words">
            <p class="loop1-words">This is the screen for the computer</p>
            <p class="loop2-words">This screen is for the Touchscreen</p>
            <p class="loop3-words">Lastly this screen is for the newspaper</p>
        </div>

        <p class="d-2" >It's time for fashion.</p>

        <div class="p2-7">

        </div>

        <div class="p2-0">
            <p class="p2-1"> Tap </p>
            <p class = "p2-1-2">  "Fashion is part of the daily air and it changes all the time, 
                with all the events. You can even see the approaching of a
                revolution in clothes. You can see and feel everything in 
                clothes." —Diana Vreeland</p>

            <p class="p2-2"> Tap </p>

            <p class="p2-2-2">"Don't be into trends. Don't make fashion own you, but you decide
                what you are, what you want to express by the way you dress and 
                the way to live." —Gianni Versace </p>

            <p class="p2-3"> Tap </p>
            <p class="p2-3-2">"One is never over-dressed or under-dressed with a Little
                Black Dress." —Karl Lagerfeld</p>


            <a class="p2-5" href="Login/login.html">Join Us</a>
        </div>


        <p class="p2-4"> Change</p>



        <!-- Start of Third Page -->

        <div class="p3-0 p3-0-1">
            <p class="p3-1">Your fashion life in one place</p>
            <p class="p3-2" >"You gotta have style. It helps you get down the stairs. It helps 
                you get up in the morning. It’s a way of life. Without it, 
                you’re nobody. I’m not talking about lots of clothes.” —Diana Vreeland
            </p>
            <a href="index.html" >
                <img src="Img/Faimages/bag-1609281_1280.jpg" alt="Dashboard place holder" class="p3-3"></a>


            <a class="p3-4" href="Login/login.html">Find out more</a>
        </div>

        <!-- Start of Fourth Page -->

        <div class="p4-0">
            <p class="p4-1">Trust other Fashionistas</p>
            <p class="p4-2">"Style is the only thing you can’t buy. It’s not in a 
                shopping bag, a label, or a price tag. It’s something reflected 
                from our soul to the outside world—an emotion.”—Alber Elbaz</p>

            <p class="p4-3">Trust.</p>

            <div class="p4-4">
                <p class="p4-4-1">Tap</p>
                <p class="p4-4-2">Tap</p>
                <p class="p4-4-3">Tap</p>
                <p class="p4-4-4">Tap</p>
                <p class="p4-4-5">Tap</p>
            </div>

        </div>

        <!-- Start of Fifth Page -->

        <div class="p5-0">
            <p class="p5-1">Chic-Affordable.</p>
            <p class="p5-2">"What's my style is not your style, and I don’t 
                see how you can define it. It’s something that expresses 
                who you are in your own way.” —Iris Apfel</p>
            <div class="p5-7">
                <a> <img src="Img/Faimages/title-image1.jpeg" 
                         alt="Chic-Affordable place holder1" class="p5-3"></a>

                <a><img src="Img/Faimages/title-image2.jpeg" 
                        alt="Chic-Affordable place holder1" class="p5-4"></a>

                <a> <img src="Img/Faimages/title-image3.jpeg" 
                         alt="Chic-Affordable place holder1" class="p5-5"></a>
            </div>
            <a class="p5-6" href="Login/login.html">Start your 7-Day Free Trail Now</a>
        </div>


        <!-- Start of Sixth Page -->

        <div class="p6">
            <p class="p6-0">Our All-in-One Service.</p>

            <div class="p6-0-1">
                <p class="p6-1"> Tap </p>
                <p class = "p6-1-2">Step One </p>

                <p class="p6-2"> Tap </p>

                <p class="p6-2-2">Step Two </p>

                <p class="p6-3"> Tap </p>
                <p class="p6-3-2">Step three</p>

                <p class="p6-4"> Tap </p>
                <p class="p6-4-2">Step four</p>

                <p class="p6-5"> Tap </p>
                <p class="p6-5-2">Step five</p>



                <p class="p6-7">Service.</p>
            </div>
            <a><img src="Img/Faimages/picture6.jpeg" 
                    alt="All-in-One" class="p6-6"></a>

        </div>


        <!-- Start of Seventh Page -->
        <div class="p7-0">
            <p class="p7-2"> Get Help from our expert or from AI.</p>  

            <div class="p7-1">
                <a><img src="Img/video.svg" 
                        alt="All-in-One" class="p7-3"></a>
                <a><img src="Img/banner.svg" 
                        alt="All-in-One" class="p7-5"></a>

            </div>
            <a class="p7-4" href="Login/login.html">Get Help from the Mastermind.</a>
        </div>


        <!-- Start of Eighth Page -->

        <div class='p8-0'>
            <p class="p8-1"> We'd like to stay in touch.</p>  
            <p class="p8-2"> "Over the years I have learned that what is 
                important in a dress is the woman who's wearing it."
                —Yves Saint Laurent</p>  

            <p class="p8-3"> Join us. </p>   

            <input class='p8-4' type='text' id='FName' name='FName' 
                   placeholder="What's your name?" pattern='[a-z]'>

            <input class='p8-5' type="text" id='Email' name='Email' 
                   placeholder="Enter your Email" pattern='[a-z]'>
            <input class='p8-6' type="checkbox" id="Terms" name="Terms" >
            <label class='p8-6 p8-6-1' for="Terms">I agree to receive news, 
                updates, and marketing offers.
                Read more in Privacy Notice.</label><br>

            <a class="p8-7" href="Login/login.html">Lets go together</a>
            <p class="p8-8"> This site is protected by reCAPTCHA and the 
                Google Privacy Policy and Terms of Servbice apply.
            </p> 
        </div>

        <!-- Start of ninth page -->

        <div class="p9-0">
            <p class="p9-1"> Get started on your fashion idea as fast as 2 minutes</p> 
            <a class="p9-2" href="Login/login.html">Get Started</a>
        </div>



 <!-- Start of Footer Page -->
        <div class=" f1-0">
            <div class="f1-1">
                <h2>Company</h2>
                <ul class="f1-1-2">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Refund policy</a></li>
                </ul>
            </div>
            <div class="f1-2">
                <h2>Resources</h2>
                <ul class="f1-2-2">
                   <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>

                </ul>
            </div>
            <div class="f1-3">
                <h2>Services</h2>
                <ul class="f1-3-2">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>

                </ul>
            </div>
            <div class="f1-4">
                <h2>Contact Us</h2>
                <ul class="f1-4-2">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                   
                </ul>
            </div>     
        </div>
 
 
 
 <div class="f1-5-0">
   
 <a  href="index.html"><img src="img/Logo_Fashop.png" alt="logo" class="f1-5-1"></a>
 <p class="f1-5-6"> Follow us</p> 
 <a href="index.html"><img src="Img/instagram.png" alt="Instagram" class="f1-5-2" /></a>
 <a  href="index.html"><img src="Img/facebook.png" alt="Facebook" class="f1-5-3"/></a>
 <a  href="index.html"><img src="Img/linkedin.png" alt="LinkedIn" class="f1-5-4"/></a>
 <a  href="index.html"><img src="Img/youtube.png" alt="Youtube"class="f1-5-5"/></a>

 </div>
<!-- <a href="#">Lorem ipsum</a>
                    <a href="#">Lorem ipsum</a>
                    <a href="#">Lorem ipsum</a>
                    <<a href="#">Lorem ipsum</a>
                    <a href="#">Lorem ipsum</a>-->

    </body>

</html>
</body>
</html>

