<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Fashop best fashion Marketplace">
    <meta name="author" content="Patty Gurusvasti">
    <meta name="google-signin-client_id" content="739835580272-250pmjb5m93fht7marp41c9od2arsmbp.apps.googleusercontent.com">
    <title>Fashop.io  | Best Services Marketplace for Fashion</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/assets/images/Fashop_Favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!--font awesome CDN-->
    <script src="https://kit.fontawesome.com/971490dbe8.js" crossorigin="anonymous"></script>
 </head>
 <body>
    <nav class="navbar navbar-expand-lg navbar-light px-0">
       <div class="container">
          <!-- Sidebar Toggle (Topbar) -->
          <a class="navbar-brand " href="/"><img src="/assets/images/logo_fashop.png" style="width: 90px; height: 70px;" alt=""></a>

           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarResponsive">
             <ul class="navbar-nav">
                <!---->
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Services
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                      <a class="dropdown-item" href="#">Souring</a>
                      <a class="dropdown-item" href="#">Manufacture</a>
                   </div>
                </li>
                <!---->
                <li class="nav-item">
                   <a class="nav-link" href="#">Pricing</a>
                </li>
                <!---->
                <li class="nav-item">
                   <a class="nav-link" href="#">Fashop.io Mastermind TM</a>
                </li>
                 <!---->
                 <li class="nav-item">
                   <a class="nav-link" href="#">Fashop.io Hunt TM</a>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Explore
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
                      <a class="dropdown-item" href="#">Our Story</a>
                      <a class="dropdown-item" href="#">Our Services</a>
                      <a class="dropdown-item" href="#">Blog</a>
                    
                   </div>
                </li>
          
             </ul>
           
                <a class="btn btn-success-p btn-xs btn-radius" href="/register" >Get Started</a>
              
          </div>
          
 
        


       </div> <!--End Container class-->
   </nav>
   <!--first content section-->
   <div class="my-container">
    <section class="row mt-5">

          <div class="l-col">
              <h1 class="big-text"> Lorem <br> Ipsum <span class="line-sm">&nbsp;</span><br> Lorem <br> Ipsum <br> </h1>
               <h6>Lorem ipsum dolor sit amet, <br>consectetur adipiscing elit, 
                sed do.</h6> 

                <a class="btn btn-success-b" href="Login/login.html">Get Started</a>
                <a  href="Billowing.mp4" ><img class="vdo-btn ml-4" src="/assets/images/arrow.jpeg" alt="Video Button"></a>
          </div>


      
      
      <div class="r-col" >
          <img class= "img-fluid" src="/assets/images/bag.jpg" style="width: 600px; height: 500px;">
      </div>


    </section>


      <!-- Start of Second Page -->
      <section class="text-center">
      <h1 class="big-text mt-5 " >Fashion made simple.</h1>

      <div class="mt-5">
            <div class="block-3">
                <img src="/assets/images/1022.svg" class="" alt="Loop1_Placeholder"></a>
                <h4>Step 1</h4>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
            </div>

            <div class="block-3 ">
                <img src="/assets/images/1023.svg" class="" alt="Loop1_Placeholder"></a>
                <h4>Step 2</h4>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
            </div>

            <div class="block-3">
                <img src="/assets/images/1024.svg" class="" alt="Loop1_Placeholder"></a>
                <h4>Step 3</h4>
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
            </div>
            <div class="clear-both"></div>    
      </div>

    </section>
    
     <!-- Start of Third Page -->
    <section id="third" >
      <h1 class="big-text text-center mt-5 text-primcolor-b" >It's time for fashion.</h1>

      
        
      <div class="row mt-5 ">
          <div class="width-10 circle-p check mr-5">
          <i class="fas fa-check i-check "></i> 
         </div>

          <div class = "width-80">
           <h4> "Fashion is part of the daily air and it changes all the time, 
              with all the events. You can even see the approaching of a
              revolution in clothes. You can see and feel everything in 
              clothes." —Diana Vreeland</h4>
            </div>
      </div> 
      <div class= "row mt-5">    
        <div class="width-10 circle-p mr-5">
            <i class="fas fa-check"></i> 
           </div>

            <div  class = "width-80">
             <h4>"Don't be into trends. Don't make fashion own you, but you decide
                what you are, what you want to express by the way you dress and 
                the way to live." —Gianni Versace</h4>
            </div>
       
        </div> 
        <div class="row mt-5">
            <div class="width-10 circle-p mr-5">
                <i class="fas fa-check"></i> 
               </div>

                <div  class = "width-80">
                 <h4>"One is never over-dressed or under-dressed with a Little
                    Black Dress." —Karl Lagerfeld</h4>
                 </div>

        </div>
        <div class="text-center">
          <a class="btn btn-success-b" href="Login/login.html">Join Us</a>
        </div>   


      <h1 class="vt-change"> Change.</h1>

    </section>
</div>  <!--end of my- containnr -->
     
  
      <section>
        <div class="bg-primcolor-b mt-5"> 
            <div class=" block-center text-center">   
                <h1 class="big-text text-primcolor-p pt-5">Your fashion life <br> in one place</h1>
                <h5 >"You gotta have style. It helps you get down the stairs. It helps 
                    you get up in the morning. It’s a way of life. Without it, 
                    you’re nobody. I’m not talking about lots of clothes.” —Diana Vreeland
                </h5>
            </div>
            <div class="text-center mt-5">
                 <img class="img-fluid" src="/assets/images/bag.jpg" alt="Dashboard place holder" >
                
            </div>
            <div class="text-center pb-5">
            <a class="btn btn-success-p mt-5" href="">Find out more</a>
        </div> 
        </div>
      </section>

      <!-- Start of Fourth Page testimonial-->
      
      <section id=fourth class="my-container">
      <div class="text-center mt-5">
          <h1 class="big-text text-primcolor-b">Trust other Fashionistas</h1>
          <div class="block-center">
          <h1>"Style is the only thing you can’t buy. It’s not in a 
              shopping bag, a label, or a price tag. It’s something reflected 
              from our soul to the outside world—an emotion.”—Alber Elbaz</h1>
         </div> 
          <p class="vt-trust">Trust.</p>

          <div class="trust-item mt-5">
              <ul class="trust-list">
                  <li class= "circle-p pt-4"> tap </li>
                  <li class= "circle-p pt-4"> tap </li>
                  <li class= "circle-p pt-4"> tap </li>
                  <li class= "circle-p pt-4"> tap </li>
                  <li class= "circle-p pt-4"> tap </li>

              </ul>
      
          </div>

      </div>
    </section>
      <!-- Start of Fifth Page -->

      <section class="text-center">
        <div class="bg-primcolor-b mt-5 pb-5 "> 
            <h1 class="big-text text-primcolor-p pt-4">Chick-Affordable</h1>
          <h5>"What's my style is not your style, and I don’t 
              see how you can define it. It’s something that expresses 
              who you are in your own way.” —Iris Apfel</h5>

          <div class="my-container">
            <div class="row"> 
              <div class="pricing"><h1>Newbie</h1> </div>
              <div class="pricing"><h1>Rising Star</h1></div>
              <div class="pricing"><h1>Premium</h1></div>
            </div>
          </div>    
          <div class="mt-5"> <a class="btn btn-success-p" href="Login/login.html">Start your 7-Day Free Trail Now</a></div>
              
          </div>
        
        </section>


      <!-- Start of Sixth Page -->

      <section id=service class="my-container">
          <p class="big-text text-primcolor-b text-center">Our All-in-One Service.</p>
        <div class="row">
            <div class="width-20">   
                <ul class="service-list sv-txt-size">
                    <li><img class= "circle-p pt-4 mt-3 "><span class="ml-4">Lorem ipsom</span></li>
                    <li><img class= "circle-p pt-4 mt-3"><span class="ml-4">Lorem ipsom</span></li>
                    <li><img class= "circle-p pt-4 mt-3"><span class="ml-4">Lorem ipsom</span></li>
                    <li><img class= "circle-p pt-4 mt-3"><span class="ml-4">Lorem ipsom</span></li>
                    <li><img class= "circle-p pt-4 mt-3"><span class="ml-4">Lorem ipsom</span></li>

                </ul>
            </div>
            <div class="width-70 mr-5 pb-5">
                <img class="img-fluid ml-5" src="/assets/images/bag.jpg">
            </div>

        </div>
          

              <p class="vt-service">Service.</p>
          </div>

          </section>


      <!-- Start of Seventh Page -->
      <section class="bg-primcolor-b">
        <div class="mybig-container"> 
      <div class="row pb-5">
          <div class="width-60 text-center experts-ai ">
            <h1 class="pt-5 text-primcolor-p">Get help from our <br> experts or from AI</h1>
            <a class="btn btn-success-p my-mt-6" style>Get Help from the Mastermind</a>

          </div>
          <div class="width-40">
            <div class=" pt-5 row">
            <div class="circle-p "><img src="/assets/images/logo_fashop.png" style="width: 60px; height: 60px; padding-left: 15px; padding-top: 10px;"></div> 
             <p class="pl-5 pt-5"> Lorem ipsum text</p>
            </div>
            <div></div>
            <div></div>
          </div>
      </div>
    </div>

    </section>
      <!-- Start of Eighth Page -->
    <section id=intouch>
      <div class="text-center">
          <h1 class="text-primcolor-b big-text mt-5"> We'd like to stay in touch.</h1>  
          <h1 class="block-center"> "Over the years I have learned that what is 
              important in a dress is the woman who's wearing it."
              —Yves Saint Laurent</h1>  
          <p class="vt-join"> Join us. </p>   

          <form >
            <div class="form-group">
              <input class = "lg-box" type='text' id='FName' name='FName' 
              placeholder="What's your name?" pattern='[a-z]'>
            </div>
           
          <div class="form-group">
            <input class = "lg-box" type="text" id='Email' name='Email' 
            placeholder="Enter your Email" pattern='[a-z]'>
          </div>
          
          <div class="form-group">
          <input class='tick-box' type="checkbox" id="Terms" name="Terms" >
          <label class="pl-2" style="font-size: 20px;" for="Terms">agree to receive news, 
            updates, and marketing offers.
            Read more in <a style="color: #f7bbbb;">Privacy Notice.</a></label>
          </div>
          </form>


          <a class="btn btn-success-b btn-lg" href="Login/login.html">Lets go together</a>
          <p class="mt-5 sv-txt-size"> This site is protected by reCAPTCHA and the 
              Google Privacy Policy and Terms of Servbice apply.
          </p> 
      </div>
    </section>
      <!-- Start of ninth page -->
    <section class="bg-primcolor-b">

      <div class="text-center pb-5 pt-5 my-container">
          <h1 class="big-text"> Get started on your fashion idea as fast as <br>2 minutes</h1> 
          <a class="btn btn-success-p " href="Login/login.html"><h5>Get Started</h5></a>
      </div>
    </section>


         <!--   footer -->
         <footer class="bg-primcolor-p">
            <div class="container">

               <div class=" d-flex">
                  <div class="footer-list">
                     <h4>Company</h4>
                     <ul class="list">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Refund policy</a></li>
                     </ul>
                  </div>
                  <div class="footer-list">
                     <h4>Resources</h4>
                     <ul class="list">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        
                     </ul>
                  </div>
                  <div class="footer-list">
                     <h4>Services</h4>
                     <ul class="list">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        
                     </ul>
                  </div>
                  <div class="footer-list">
                     <h4>Contact Us</h4>
                     <ul class="list">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        </li>
                     </ul>
                  </div>     
               </div>

               <div class="copyright">
                  <div class="logo">
                     <a href="index.html">
                     <img src="assets/images/logo_fashop.png">
                     </a>
                  </div>
                  <p>© Copyright 2020 Fashop.io All Rights Reserved
                  </p>
                  <ul class="social social-icon">
                        <li>
                        <p style="padding-right: 10px">Follow us</p>
                     </li> 
                     <li>
                        <a href="#"><img src="/assets/images/Facebook.png"></a>
                     </li>
                     <li>
                        <a href="#"><img src="/assets/images/instagram.png"></a>
                     </li>
                     <li>
                        <a href="#"><img src="/assets/images/linkedin.png"></a>
                     </li>
                     <li>
                        <a href="#"><img src="/assets/images/youtube.png"></a>
                     </li>
                     
                  </ul>
               </div>

            </div>
         </footer>
         <!--       footer-->

 <!-- Bootstrap core JavaScript -->
 <script src="/vendor/jquery.min.js"></script>
 <script src="/vendor/bootstrap.bundle.min.js"></script>
 <script src="https://apis.google.com/js/platform.js" async defer></script>
 <!-- Custom -->
 <script src="/assets/js/index.js"></script>
</body>
</html>