import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');

/* Body */
 body {
     color: #222325;
     font-size: 13px;
     font-family: 'Muli', sans-serif;
     font-weight: 400;
     background-color: #f0f2f5;
}
 .container-fluid {
     max-width: 1400px;
     padding: 0 32px;
}
 ul, ul li {
     list-style: none;
     margin: 0px;
}
 a, a:hover {
     text-decoration: none;
}
 a {
     color: #43619d;
}
 * {
     margin: 0;
     padding: 0;
}
 .btn-success{
     background: #8da0d6;
     background: -webkit-linear-gradient(legacy-direction(to right), #8da0d6 0%, #7a93DC 100%);
     background: -webkit-gradient(linear, left top, right top, from(#8da0d6), to(#7a93DC));
     background: -webkit-linear-gradient(left, #8da0d6 0%, #7a93DC 100%);
     background: -o-linear-gradient(left, #8da0d6 0%, #7a93DC 100%);
     background: linear-gradient(to right, #8da0d6 0%, #7a93DC 100%);
     border-color: #8da0d6;
}
 .btn-outline-success {
     color: #8da0d6;
     border-color: #8da0d6;
}
 .btn-outline-success:hover{
     background: #8da0d6;
     background: -webkit-linear-gradient(legacy-direction(to right), #8da0d6 0%, #7a93DC 100%);
     background: -webkit-gradient(linear, left top, right top, from(#8da0d6), to(#7a93DC));
     background: -webkit-linear-gradient(left, #8da0d6 0%, #7a93DC 100%);
     background: -o-linear-gradient(left, #8da0d6 0%, #7a93DC 100%);
     background: linear-gradient(to right, #8da0d6 0%, #7a93DC 100%);
     border-color: #8da0d6;
}
 .btn-light {
     color: #4445ad;
     background-color:   #FFB6C1;
     border-color:  #FFB6C1;
}
 .btn-light:hover {
     color: #ffffff;
     background-color: #aca0eb;
     border-color: #aca0eb;
}
.bg-primcolor-b{
     background-color: #7a93DC!important;

}
.bg-primcolor-p{
     background-color: #f7bbbb!important;
}
.nav-space{
     margin-right: 30%;
}


.landing-content{
     background-image: url("../images/faimages/example.jpg");
     height: 1000px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     margin-top: -100px;
 
}
.big-logo {
     width: 100px;
     height: 100px;
}

.my-nav{
     background-color: : transparent;
}
 footer {
     display: inline-flex;
     padding-top: 54px;
     width: 100%;
}

footer .d-flex {
     float: top;
    }

 .footer-list {
     width: 33%;
}
 footer div h2 {
     font-weight: 700;
     color: #404145;
     font-size: 16px;
     padding: 0 0 20px;
}
 footer div ul li {
     list-style: none;
}
 footer div ul li:not(:last-child) {
     padding-bottom: 16px;
}
 footer div ul li a {
     color: #7a7d85;
}
 .footer-list {
         width: 100%;
         text-align: center;
         margin-bottom: 36px;
    }
 .copyright {
     display: flex;
     border-top: 1px solid #e4e5e7;
     margin-top: 30px;
     padding: 35px 0;
     align-items: center;
}
 .copyright .logo img {
     height: 27px;
}
 .copyright .social {
     margin-left: auto;
     display: flex;
     padding: 0px;
     margin-bottom: 0px;
}
 .copyright p {
     margin: 3px 0 0 16px;
     font-size: 14px;
     color: #000;
}
 .copyright .social li {
     margin: 0px !important;
     padding: 0px;
}
 .copyright .social li a {
     border: 1px solid #000;
     width: 30px;
     height: 30px;
     display: inline-block;
     text-align: center;
     line-height: 28px;
     border-radius: 24px;
     margin: 0 0px 0 5px;
     color: #7a7c84;
